{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row mt-5">
		<div class="col-6">
			<h1>Your recipes</h1>
		</div>
	</div>
  <!-- List all the recipes that have been 'passed in' to this template's context.
    Also show a button to add a new recipe, in an appropriate part of the page. -->
	<div class="row mt-5">
		<div class="col-5">
			{% for recipe in recipes %}
			<div class="list-group">
  				  <a href="{{ url_for('show_recipe', recipe_id = recipe.recipe_id) }}" class="list-group-item list-group-item-action mt-2">{{ recipe.title }} <span><h6>View count <span class="badge badge-secondary">{{ recipe.count }}</span></h6></span><span><h6>Category <span class="badge badge-secondary">{{ recipe.category }}</span></h6></span></a>
			</div>
			{% endfor %}
		</div>
	</div>
	<a href="{{ url_for('add_recipe') }}" class="btn btn-primary btn-lg active mt-5" role="button" aria-pressed="true">Add recipe</a>
	<div class="row mt-5">
		<div class="col-6">
			<h1>All recipes</h1>
		</div>
	</div>
  <!-- List all the recipes that have been 'passed in' to this template's context.
    Also show a button to add a new recipe, in an appropriate part of the page. -->
	<div class="row mt-5">
		<div class="col-5">
			{% for recipe in all_recipes %}
			<div class="list-group">
  				<a href="{{ url_for('show_recipe', recipe_id = recipe.recipe_id) }}" class="list-group-item list-group-item-action mt-2">
  				  {{ recipe.title }} 
  				  <span><h6>View count <span class="badge badge-secondary">{{ recipe.count }}</span></h6></span>
  				  <span><h6>Category <span class="badge badge-secondary">{{ recipe.category }}</span></h6></span>
  				  <span><h6>Owned by <span class="badge badge-secondary">{{ recipe.owner }}</span></h6></span>
  				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}